<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Todo</h1>
    <form method="post" action="/todos?_method=patch">
        <label for="id">Enter Id of todo to be updated</label>
        <input type="text" name="id"></input>
        <label for="status">Enter Updated Status</label>
        <input type="text" name="status"></input>
        <button type="submit">Update Todo</button>
    </form>
</body>
</html>